<%- include('includes/head'); %>
<%- include('includes/nav'); %>

  <div class="container">
    <div class="row">

      <div class="col-lg"></div>
      <div class="col-lg my-4">
        <h1 class="text-center">Agenda</h1>
        <p class="text-center lead">Seus contatos estão abaixo</p>
        
        <%- include('includes/messages'); %>
        <% if (contatos.length > 0) { %>
          <div class="responsive-table">
            <table class="table table-bordered table-hover my-3">
              <thead>
                <tr>
                  <th scope="col">Nome</th>
                  <th scope="col">Sobrenome</th>
                  <th scope="col">Telefone</th>
                  <th scope="col">E-mail</th>
                </tr>
              </thead>
              <tbody>
              <% contatos.forEach( contato => { %>
                  <tr>
                    <td><%= contato.nome %></td>
                    <td><%= contato.sobrenome %></td>
                    <td><%= contato.telefone %></td>
                    <td style="min-width: 100px;"><%= contato.email %></td>
                    <td><a href="/contato/<%= contato._id %>"> Editar </a></td>
                    <td><a class="text-danger" href="/contato/delete/<%= contato._id %>"> Excluir </a></td>
                  </tr>
              <% }); %>
            </tbody>
            </table>
          </div>
        <% } else { %>
          <p class="text-center">Não existe contatos na sua agenda. <br> Clique <a href="/contato">aqui</a> para cadastrar um novo contato</p>
        <% } %>

      </div>
      <div class="col-lg"></div>

    </div>
  </div>

<%- include('includes/footer'); %>